[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git

[submodule "src/rplidar_ros2"]
	path = src/rplidar_ros2
	url = https://github.com/babakhani/rplidar_ros2.git
